<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!-- (properties?, settings?, typeAliases?, typeHandlers?, objectFactory?, 
 		objectWrapperFactory?, reflectorFactory?, plugins?, environments?, databaseIdProvider?, mappers?) 
	
	tips： 上面这些标签，可以没有，但是先后顺序不能乱了，否则会报错
 -->
 
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<!-- 显式的指定配置的值，防止版本更新带来的问题 -->
		<!-- <setting name="lazyLoadingEnabled" value="true"/>
		<setting name="aggressiveLazyLoading" value="false"/> -->
		
		<!-- 显式开启二级缓存 -->
		<setting name="cacheEnabled" value="true"/>
		
	</settings>


	<databaseIdProvider type="DB_VENDOR">
		<property name="SQL Server" value="sqlserver"/>
		<property name="DB2" value="db2"/>        
		<property name="Oracle" value="oracle" />
		<property name="MySQL" value="mysql" />
	</databaseIdProvider>
  
</configuration>